#chatWindow {
    height: 75vh;
    max-height: 75vh;
    padding-left: 20px;
    padding-right: 20px;
}
.info-text {
    color: #a1a1a1;
    font-size: medium;
    padding: 15px;
    margin: 5px;
    background-color: #2f2f2f;
    border: #2f2f2f;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
.info-text-headline {
    color: #c9c9c9;
    font-size: medium;
    padding: 15px;
    margin: 5px;
    background-color: #2f2f2f;
    border: #2f2f2f;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.in-text {
    color: #eaeaea;
    font-weight: bold;
}
.highlight {
    color: #009667;
}
.out-text {
    color: #fafafa;
    background-color: #2f2f2f;
    border: #2f2f2f;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}
.sys-text {
    color: #6f6f6f;
    font-weight: normal;
    font-style: italic;
}
.time-text {
    color: #6f6f6f;
    font-size: 10px;
    font-weight: normal;
}
.messages {
    background-color: #fafafa;
}